*{margin: 0;padding: 0;}
ul{list-style-type: none;}
a{text-decoration: none;}
input{padding: 0 5px;}
td{text-align: center;}
body{background-color: #F5F5F5;}
/* 顶部 */
header{width: 100%;height: 55px;background-color: #FFD705;}
header>ul{display: flex;justify-content: start;margin-left: 100px;}
header>ul>li:nth-of-type(1){padding-top: 10px;margin-right: 220px;}
header>ul>li:nth-of-type(2){display: block;height: 50px;width: 420px; background-image: url(../img/header.png);background-position: 0 -30px;}
header>ul>li:nth-of-type(2)>input{margin-top: 20px;margin-left: 50px;border: 0;background-color: #FFD705;}
header>ul>li:nth-of-type(2)>a{margin-left: 135px;color: #FFFFFF;font-size: 20px;}
/* 导航至购物车 */
body>div:nth-of-type(1){margin-left: 45%;margin-top: 25px;font-size: 18px;margin-bottom: 25px;}
body>div:nth-of-type(1)>a{color: blue;}
body>div:nth-of-type(1)>span:nth-of-type(2){color: red;}
/* 点餐 */
body>div:nth-of-type(2){width: 92%;height: 800px;margin-left: 3%;}
body>div:nth-of-type(2)>div{background-color: #FFFFFF;margin-top: 10px;width: 100%;height: 350px;box-shadow: 1px 1px 5px #CCCCCC;padding: 15px;display: flex;justify-content: space-between;}
body>div:nth-of-type(2) img{width: 280px;height: 200px;margin-bottom: 45px;}
body>div:nth-of-type(2)>div>div>ul{display: flex;justify-content: space-between;}
body>div:nth-of-type(2)>div>div>ul:nth-of-type(1)>li{font-size: 18px;}
body>div:nth-of-type(2)>div>div>p{text-align: right;margin: 5px 0;color: #FFD705;font-size: 14px;}
body>div:nth-of-type(2)>div>div>ul:nth-of-type(2)>li{font-size: 14px;color: #CCCCCC;}
/* 购物车 */
#cart{display: none;}
body>div:nth-of-type(3){width: 86%;height: 300px;margin-left: 6%;background-color: #FFFFFF;box-shadow: 1px 1px 5px #CCCCCC;padding: 20px;margin-bottom: 100px;}
#tab{width: 100%;border: 0;}
#tab th{width: 20%;background-color: #B5E0FF;}
hr{margin: 10px 0;}
body>div:nth-of-type(3)>ul{display: flex;justify-content: space-between;margin-bottom: 20px;}
body>div:nth-of-type(3)>ul>li:nth-of-type(2){color: red;}
body>div:nth-of-type(3)>ul>li:nth-of-type(2)>input{background-color: #FFD705;}
body>div:nth-of-type(3) a{font-weight: bold;font-size: 18px;color: blue;}



